/**************** Page and tag styles ****************/

body
{margin:0 px; padding:0px; color:#000000; background:#ffffff  top left repeat-y; font:75%
/***font-family:Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif}***/
 helvetica,ariel;}

ul
{margin:20px 20px 20px 20px; font-size:1em;}

li
{margin-left: 20px}

a
{color:#488AC7; font-weight:bold; text-decoration:none;}

a:hover
{color:#488AC7; text-decoration:underline;}

img
{float:left; margin:0 0px 0px 0; padding:1px; background:#ffffff; border:1px 
solid #488AC7;}

a img
{border-color:#488AC7;}

a img:hover
{background:#488AC7; border-color:#488AC7;}

/**************** Sidebar area styles ****************/

#sidebar
{position:absolute; top:0; left:0px; width:100%; height:140px; overflow:auto; 
background:#ffffff;
background-image:url('shapeimage_1.png');
background-size:275px 130px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
text-align:left;}


body > #sidebar
{position:fixed;}

#sidebar h1
{margin:5px; color:#488AC7; font-size:1.1em; font-face:arial; text-align:left;}

#sidebar h2
{margin:2px; color:#488AC7; font-size:1.1em; font-weight:bold;  text-align:right;}

#sidebar h3
{margin:5px; color:#488AC7; font-size:1.1em; font-weight:bold; text-align:left;}

#sidebar h4
{margin:2px 18px 4px 5px; color:blue;font-size:1.1em;  text-align:right;}


#sidebar  p
{margin:0 20px 18px 20px; color:rgb(20, 20, 20); font-size:1em;}

#sidebar a
{color:rgb(250, 250, 250); font-weight:bold; text-decoration:none;}

#sidebar a:hover
{color:rgb(250, 250, 250); text-decoration:underline;}

/**************** Navigation menu styles ****************/

#menu a
{display:block; width:202px; padding:5px 18px 5px 0; color:rgb(250, 250, 250); 
background:rgb(71, 123, 169) url(img/sidebarbg.gif) top right repeat-y;
font-size:1.4em; font-weight:normal; text-decoration:none; letter-spacing:-2px;}


#menu a:hover 
{color:#303030; background:#f2f2f2 url(img/sidebarbg.gif) top right repeat-y;}


#menu a.active
{padding:5px 18px 5px 0; background:#f2f2f2; border-top:2px solid #c0c0c0; 
border-bottom:2px solid #c0c0c0; color:rgb(40, 40, 40)}


#menu a.active:hover
{color:rgb(40, 40, 40); background:#f0f0f0;}


/****Nav***/
#nav ul{
	padding : 3px;
	margin : 0;
	white-space : nowrap;
	background-color : #003399;
	color : White;
}
#nav ul li{
	display : inline;
}
#nav ul li a{
	padding-left : 1em;
	padding-right : 1em;
	background-color : #0066CC;
	color :#488AC7;
	font-weight : bold;
	text-decoration : none;
}
#nav ul li a:hover{
	background-color : #99CCFF;
	color : #000066;
}

#nav a:hover
{clear:both; margin:0px 0 10px 10; color:#488AC7; font-weight:bold; font-size: 1.1em; letter-spacing:-0px;}
#nav a
{clear:both; margin:0px 0 10px 10; color:#488AC7; font-weight:bold; font-size: 1.1em; letter-spacing:-0px;}


/****/





/**************** Content area styles ****************/

#content
{margin:0px;padding-top:135px; padding-left:135px; background-image:url('blue.png');
background-size:125px 50px;
 
  background-repeat: repeat-y;



}

#content p
{margin:0 0 0px 0px; line-height:1.5em;}

#content h1
{clear:both; margin:0px 0px 20px 60px; color:#488AC7; font-size:2em; letter-spacing:2px; text-align:center;}

#content h2
{margin:0; color:#488AC7; font-weight:normal; font-size:1.5em; letter-spacing:-1px}

#content h3
{clear:both; margin:0; color:#488AC7; font-weight:normal; font-size:1.5em; letter-spacing:-1px}



#content h4
{clear:both; margin:0px 0 0px 0; color:#488AC7; font-weight:normal; font-size: 1.1em; letter-spacing:-0px;}



#content ul
{margin:15px 0 10px 0; font-size:1em;}

#content ol
{margin:0; font-size:1em;}

#content li
{margin-left:15px;}
